go 1.19

use (
	./infrastructure
	./ordering-service/order-domain/order-application-service
	./ordering-service/order-domain/order-domain-core
	./ordering-service/order-application
	./ordering-service/order-data-access
	common-domain
)
